.item-list li {
    background: #333;
    list-style: none;
    max-width: 20em;
    display: inline-block;
    margin: 10px;
}
.item-list li div {
    display:inline-block;
    margin: 5px;
}
body {
    max-width: 90%;
}
#item_detail {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    background: #111;
    z-index: 10000;
    padding:20px;
}

